{% extends '../base.html' %}
{% block title %}
Stores
{% endblock title %}
{% block content %}
{% load static %}
{% if user.is_authenticated%}
{% include '../header.html' %}
<div class="container-fluid row">
    <div class="col-sm-8">
        <div id='loader' style='display: none;'>
            <img src='{%static "img/image.gif"%}' class="loader">
        </div>

        {% block list_content %}
        {% include "./store_list.html" %}
        {% endblock list_content %}
    </div>
    <div class="col-sm-4">
        <div id='loader' style='display: none;'>
            <img src='{%static "img/image.gif"%}' class="loader">
        </div>
        {% block sidebar %}
        {% endblock sidebar %}
    </div>
</div>
{%endif%}
{% endblock content %}