<script>
    $(document).ready(function () {
        $('#items-table').DataTable();
    });
</script>
<h2 style="text-align: center" class="mb-4">Your stores</h2>

<table id="items-table" class="table table-striped table-bordered" style="width:100%">

    <thead>
        <tr>
            <th>Store ID</th>
            <th>Store name</th>
        </tr>
    </thead>
    <tbody>
        {% for store in object_list %}
        <tr>
            <td scope="row">
                <a class="item btn btn-outline" href="{%url 'store:details' pk=store.store_id%}">
                    {{store.store_id}}
                </a>
            </td>
            <td>{{store.name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>